<div class="row">
  <div class="col-lg-12">
    <h1>Contact Us</h1>
    <a href="#" (click)="getNext($event)" class="btn btn-primary">Show Paragraph</a>
    <p [@flyInOut]="showP(1)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id augue venenatis, hendrerit nulla sit amet, iaculis
      odio. Integer tempus eget diam et faucibus. Donec rhoncus orci ut augue vehicula, et tristique odio fringilla. Suspendisse
      rhoncus pellentesque massa, ultricies mattis leo. Phasellus fermentum in risus quis pulvinar. Morbi consequat convallis
      nulla vel congue. Sed eget laoreet lorem. Nunc accumsan porta tempus. Duis fringilla quam eu arcu egestas aliquam.</p>

    <p [@flyInOut]="showP(2)">Duis congue augue ut purus consectetur tempor. Ut condimentum quam nec magna tempus, non accumsan nunc condimentum. Vestibulum
      blandit orci eget nisl dignissim, quis faucibus dolor facilisis. In maximus sem a elit viverra fringilla. Suspendisse
      eget lacinia risus, sed sodales mi. Aenean lacinia suscipit fermentum. In sed arcu sed magna fringilla feugiat nec
      sit amet ipsum. Vivamus nunc diam, mollis ut venenatis sed, convallis in ex.</p>


    <app-contact-form></app-contact-form>

  </div>
</div>