<div class="row">
  <div class="col-lg-12">
    <h1>Contact Us</h1>
    <a href="#" (click)="getNext($event)" class="btn btn-primary">Show Paragraph</a>
    <p [@flyInOut]="showP(1)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id augue venenatis, hendrerit nulla sit amet, iaculis
      odio. Integer tempus eget diam et faucibus. Donec rhoncus orci ut augue vehicula, et tristique odio fringilla. Suspendisse
      rhoncus pellentesque massa, ultricies mattis leo. Phasellus fermentum in risus quis pulvinar. Morbi consequat convallis
      nulla vel congue. Sed eget laoreet lorem. Nunc accumsan porta tempus. Duis fringilla quam eu arcu egestas aliquam.</p>

    <p [@flyInOut]="showP(2)">Duis congue augue ut purus consectetur tempor. Ut condimentum quam nec magna tempus, non accumsan nunc condimentum. Vestibulum
      blandit orci eget nisl dignissim, quis faucibus dolor facilisis. In maximus sem a elit viverra fringilla. Suspendisse
      eget lacinia risus, sed sodales mi. Aenean lacinia suscipit fermentum. In sed arcu sed magna fringilla feugiat nec
      sit amet ipsum. Vivamus nunc diam, mollis ut venenatis sed, convallis in ex.</p>

    <p [@flyInOut]="showP(3)">Aliquam leo mauris, scelerisque tincidunt augue quis, euismod malesuada nulla. Ut quis massa at mauris mollis tincidunt
      vel sed lectus. Vestibulum interdum sit amet ex in tincidunt. Aliquam porttitor aliquam nunc vitae egestas. Mauris
      tempus orci orci. Integer mollis, velit ut accumsan porttitor, dui arcu faucibus erat, maximus ultrices leo diam et
      enim. Phasellus eget laoreet neque. Mauris accumsan diam leo, nec tempus neque feugiat commodo. Aliquam ut gravida
      sapien. Sed dignissim risus erat, malesuada feugiat orci luctus et. Cum sociis natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Aliquam vitae ante arcu. Nulla placerat laoreet nulla, eget pellentesque turpis aliquet
      in. Aliquam erat volutpat. Pellentesque at leo in nisi aliquet malesuada in nec arcu. Cras facilisis ante in ligula
      cursus, eget bibendum diam scelerisque.</p>

    <p [@flyInOut]="showP(4)">Duis suscipit orci quam, ut accumsan dui vulputate eu. Vivamus leo enim, dictum eget sapien quis, commodo congue elit.
      Nam et sapien et sapien rhoncus luctus. In luctus viverra tellus, a varius ex accumsan nec. Nam auctor nisi eu consequat
      lacinia. Suspendisse quis velit dui. Nulla viverra odio in augue tincidunt, a tincidunt purus ullamcorper. Cras eu
      augue finibus, hendrerit ipsum eget, fringilla diam. Vivamus sagittis dictum laoreet. Nunc cursus euismod nulla, ac
      dictum dolor dapibus vitae. Nam sagittis ligula vel tortor rutrum gravida. Vestibulum tincidunt purus eu facilisis
      scelerisque.
    </p>

    <p [@flyInOut]="showP(5)">Ut ut urna commodo, pellentesque neque ut, interdum nibh. Nulla ipsum libero, blandit sit amet feugiat id, elementum
      ac libero. Donec gravida sagittis dui, placerat sagittis purus ultrices euismod. In aliquam tempus odio, vel auctor
      ante pharetra id. Curabitur condimentum ante nunc, in iaculis orci maximus sit amet. Proin tellus risus, venenatis
      eget leo sed, hendrerit egestas dui. Vivamus a enim ac metus porta tristique id pharetra neque. Ut ultrices eros ultricies
      lacus rutrum, a cursus libero finibus. Mauris hendrerit, quam nec varius auctor, velit nisi efficitur nisl, ut sagittis
      arcu magna vitae quam. Morbi dui enim, fringilla non nulla at, pellentesque mattis mi. Quisque semper turpis augue,
      eget aliquet mauris sagittis non. Donec hendrerit velit vitae pulvinar porta. Maecenas varius dapibus malesuada. Ut
      sodales molestie metus a rhoncus. Suspendisse non augue id enim hendrerit rutrum.</p>
  </div>
</div>